body {
    margin:auto;
    min-height:100%;
    background-image: linear-gradient(  299deg, #EFF0EB 12.6%, white 82.8% );
    
}

html {
    
    background-image: linear-gradient(  299deg, #EFF0EB 12.6%, white 82.8% );   
}

.navbar {
  background-image: linear-gradient(  182deg, #8A4D76 12.6%, #692367 82.8% ) !important;
  position:fixed;
  width:100%;
  top:0;
  }

.header {
    min-height:600px;
    padding-top:10%;
    background-image: url(../media/pexels-photo-924824.jpeg);
}

.is-1 {
    color:white;
}

.subtitle {
    margin:auto;
    color:white;
    width:66%;
    margin-top:2em;
}


.content {
    width:66%;
    margin:auto;
    min-height:100%;
}


h1 {
    margin:auto;
    width:66%;
    margin-top:2em;
}

h2 {
    margin-top:2em;
}

h4 {
    margin-top:1em;
}

p {
    margin-top:1em;
    margin-bottom:1em;
}

iframe {
    margin:auto;
    margin-top:1em;
}
