body {
    margin:auto;
    min-height:100%;
    background-image: linear-gradient(  299deg, #EFF0EB 12.6%, white 82.8% );
    margin-bottom:200px;
    
}

html {
    
    background-image: linear-gradient(  299deg, #EFF0EB 12.6%, white 82.8% );   
}

.navbar {
  background-image: linear-gradient(250deg, #290629 0%, #000f0f 100%);
  animation: colorChange 10s ease-in-out infinite;
  background-size: 400% 400%;
  position:fixed;
  width:100%;
  top:0;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  }

  @keyframes colorChange {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.header {
    min-height:700px;
    padding-top:15%;
    background-image: url(../media/pexels-photo-924824.jpeg);
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.2);
}

.title.is-1 {
    color:white;
    font-size: 80px;
    letter-spacing: 10px;
    

}

.subtitle {
    margin:auto;
    color:white;
    width:66%;
    margin-top:2em;
    letter-spacing: 5px;
}


.content {
    width:66%;
    margin:auto;
    min-height:100%;
}


h1 {
    margin:auto;
    width:66%;
    margin-top:2em;
}

h2 {
    margin-top:2em;
}

h4 {
    margin-top:1em;
}

p {
    margin-top:1em;
    margin-bottom:1em;
}

iframe {
    margin:auto;
    margin-top:1em;
}
