body {
    margin:auto;
    min-height:100%;
    background-image: linear-gradient(135deg, #EFF0EB 20%, #8A4D76 200%);
    
}

.content {
    width:66%;
    margin:auto;
    min-height:100%;
}

h1 {
    margin:auto;
    width:66%;
    margin-top:1em;
}

h2 {
    margin-top:2em;
}

h4 {
    margin-top:1em;
}

p {
    margin-top:1em;
    margin-bottom:1em;
}

iframe {
    margin:auto;
    margin-top:1em;
}
